<!DOCTYPE html>
<html>
<head>
    <title>Privacy policy for Haine Messenger</title>
</head>
<body style="margin-left: 15%; margin-right: 15%; background: #000" text="white">
<h2>Privacy Policy for Haine Messenger</h2>

The privacy of our visitors to Haine is important to us.
At Haine, we recognize that privacy of your personal information is important. Here is information on what types of
personal information we receive and collect when you use Haine, and how we safeguard your information. We never sell your
personal information to third parties.

<h4>Authorization key</h4>
We need to obtain authorization key (so-called token) to get the ability to perform all actions in
this app. The token is stored in internal storage of your device and never being sent to third parties.

<h4>Key exchange</h4>
During key exchanges private keys are never being written on a storage and never being left the app. After using all
the private keys are being destroyed. The app and the server may only keep the public keys.

<h4>Read/write external storage</h4>
Ability of reading/writing data is needed to allow you send photos in instant messages and save photos from Haine or
store temporary files like stickers. Be sure that accessing to your data is not performed in any
other cases.

<h4>Claims, wishes or suggestions</h4>
You can contact us <a href="mailto:haine.officielle@bk.ru">via email</a>

<h5>Haine, 2018</h5>


</body>
</html>